aniso8601==1.3.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
click==6.7
Flask==0.12.2
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
SQLAlchemy==1.2.0
tornado==4.2
virtualenv==15.1.0
Werkzeug==0.13
