<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>管理后台</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for("static", filename='summernote.js/dist/summernote.css') }}">

    <script src="{{ url_for("static", filename="jquery-3.2.1.min.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="summernote.js/dist/summernote.js") }}"></script>
    <style>
        .navbar-default {border-radius: 0px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);background: rgba(255, 255, 255, 0.9);opacity: 70%}
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MOVE QaQ System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" role="presentation">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.nickname }}&nbsp;
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a href="?logout=True">登出</a></li>
              </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <ul class="nav nav-tabs" id="myTabs">
        <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">~~~录入/修改</a></li>
        <li role="presentation"><a href="#tab2" data-toggle="tab">~~~题目存档</a></li>
    </ul>


    <div class="tab-content" id="myTabsContent">
        <div class="tab-pane fade in active" id="tab1">
            <form action="" method="post">
                <h5>题目标题</h5>
                <input type="text" name="title" class="form-control" value="{{ database.get('title', '') }}">
                <h5>题目分类</h5>
                <select class="form-control" name="category">
                    <option value="0000">----选择分类---</option>
                    <option value="Lean">精益原则</option>
                    <option value="six-sigma">六西格玛</option>
                    <option value="SCN-vision">四厂愿景</option>
                </select>
                <h5>题目正文</h5>
                <div><textarea id="content" name="content" class="summernote">{{ database.get('content', '') }}</textarea></div>
                <h5>编辑答案</h5>
                <div><textarea id="answer" name="answer" class="summernote">{{ database.get('answer', '') }}</textarea></div>
                {% if database %}
                    <input type="submit" class="btn btn-info" name="update_">
                {% else %}
                    <input type="submit" class="btn btn-info" name="sub_new">
                {% endif %}
            </form>
        </div>

        <div class="tab-pane fade" id="tab2">
            <h1>题目存档</h1>
            {% for archives in archive.keys() %}
                <h4>{{ archives }}</h4>
                {% for item in archive[archives] %}
                    <li style="list-style-type: none"><a href="/backend?edit=true&uid={{ item[1] }}">{{ item[0] }}</a></li>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.summernote').summernote({
            placeholder: '开始书写....',
            height: 120,
            tabsize: 2,
            lang: 'zh-CN'
        });
    })
</script>
</body>
</html>
